@mixin button-style {
    position: relative;
    display: inline-block;

    background: linear-gradient($themeColorThree, $themeColorTwo);
    border: 0;

    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    z-index: 5;
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 10px 15px rgba(0,0,0,.35);

    &:hover {
        color: #fff;
        &,
        &::before {
            background: linear-gradient(lighten($themeColorThree, 5%), lighten($themeColorTwo, 5%));
        } 
    }

    &:active { 
        color: #fff;
        transform: translateY(8%);
        &::after {
            top: 4px;
        }
        &::before {
            background: linear-gradient(darken($themeColorThree, 5%), darken($themeColorTwo, 5%));
        }
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: darken($themeColorThree, 20%);
        left: 0;
        top: 14%;
        z-index: -2;
        border-radius: 3px;
        transition: top 0.2s ease-in-out;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 3px;
        background: linear-gradient($themeColorThree, $themeColorTwo);
    }

    &.button-block {
        width: 100%;
    }

    &.button-reversed {
        background: linear-gradient($themeColorFive, $themeColorFour);
        &::after {
            background: darken($themeColorFive, 20%);
        }
        &::before {
            background: linear-gradient($themeColorFive, $themeColorFour);
        }
        &:hover {
            &,
            &:before {
                background: linear-gradient(lighten($themeColorFive, 5%), lighten($themeColorFour, 5%));
            }
        }
    }
}

%button-style {
    @include button-style;
}

%button-style-pseudo {
    &:hover {
        color: $buttonFontColor;
        background-color: $buttonBgColorActive;
        box-shadow: 0 0 10px rgba(#000, .3);
    }

    &:active {
        background-color: $buttonBgColor;
        box-shadow: none;
    }

    &:focus {
        outline: 0;
    }
}

.button-style {
    @include button-style;
}

.button-large,
button.button,
a.button {
    @include button-style;
    padding: 16px 60px;
    font-size: 20px;
}

.button-medium {
    @include button-style;
    padding: 14px 25px;
    font-size: 16px;
}

.button-small {
    @include button-style;
    padding: 10px 15px;
    font-size: 14px;
}

[type="submit"] {
    @include button-style;
    padding: 5px 10px;
}

@media #{$mobile} {
    .button-large,
    button.button,
    a.button {
        padding: 11px 45px;
        font-size: 12px;
    }

    .button-medium {
        padding: 9px 22px;
        font-size: 10px;
    }

    .button-small {
        padding: 6px 12px;
        font-size: 8px;
    }
}

@media #{$tablet} {
    .button-large,
    button.button,
    a.button {
        padding: 12px 50px;
        font-size: 13px;
    }

    .button-medium {
        padding: 10px 25px;
        font-size: 11px;
    }

    .button-small {
        padding: 7px 14px;
        font-size: 9px;
    }
}

@media #{$laptop} {
    .button-large,
    button.button,
    a.button {
        padding: 13px 55px;
        font-size: 14px;
    }

    .button-medium {
        padding: 11px 28px;
        font-size: 12px;
    }

    .button-small {
        padding: 8px 16px;
        font-size: 10px;
    }
}

@media #{$desktop} {
    .button-large,
    button.button,
    a.button {
        padding: 14px 60px;
        font-size: 14px;
    }

    .button-medium {
        padding: 12px 32px;
        font-size: 13px;
    }

    .button-small {
        padding: 9px 18px;
        font-size: 12px;
    }
}

@media #{$screen} {
    .button-large,
    button.button,
    a.button {
        padding: 15px 65px;
        font-size: 14px;
    }

    .button-medium {
        padding: 13px 35px;
        font-size: 13px;
    }

    .button-small {
        padding: 10px 20px;
        font-size: 12px;
    }
}

button.button.iconed-button,
a.button.iconed-button {
    padding-left: 50px;
    padding-right: 10px;
    margin-right: 15px;
    background: transparent;
    color: #333;

    box-shadow: none;
    
    > .iconed-button-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10px;
        font-size: 28px;
        color: #111;
        font-weight: 100;
    }
    &::after,
    &::before {
        display: none;
    }
}