form {
    fieldset {
        @include form-style;

        label {
            font-weight: 800;
        }

        input {
            width: 100%;
            margin-bottom: 20px;
            @extend %form-field-style;
        }

        [type="submit"] {
            @include button-style;
            margin-bottom: 0;
        }

        textarea {
            width: 100%;
            margin-bottom: 30px;
            @extend %form-field-style;
        }
    }
}

//Search form style
.form-inline {
    margin: 0 auto;
    max-width: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    input {
        width: calc(100% - 40px);
        @extend %form-field-style;

        &:focus {
            border: 1px solid $themeColorTwo;
        }
    }
}

//Search form style end

//Comment form on single post page
#commentform {
    @include form-style;

    .form-group {
        label {
            text-align: left;
        }

        input {
            width: 100%;
            margin-bottom: 10px;
            @extend %form-field-style;
        }

        textarea {
            width: 100%;
            margin-bottom: 10px;
            @extend %form-field-style;
        }
    }
}

//Comment form  end

[type='text'],
[type='password'],
[type='email'],
[type='search'],
[type='tel'],
[type='url'],
[type='number'],
[type='range'],
[type='month'],
[type='week'],
[type='date'],
[type='datetime-local'],
[type='time'],
textarea,
select {
    @extend %form-field-style;
}

.is-mobile {
    input,
    select {
        appearance: none;
    }
}

.default-form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 290px;
    margin-top: 50px;

    .form-default-response {
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        text-align: center;
    }

    .default-form-input {
        display: block;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #fff;
        font-size: 14px;
        font-weight: bolder;
        text-transform: uppercase;
        padding: 20px 10px 20px 0px;
        margin-bottom: 20px;
        color: #666;
    }

    @media screen and (max-width: 678px) {
        margin-bottom: 35px;
    }
}