.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.pre-footer {
    padding: 20px 0;
    background-color: lighten($footerBgColor, 10%);
}

.copyright {
    padding: 25px 0;
    background-color: #fff;
    text-align: center;
    color: #000;

    a {
        color: $themeColorThree;

        &:hover {
            color: $footerLinkColorActive;
        }
    }
}

.footer-container {
    padding: 60px;
    background-color: $footerBgColor;

    .footer-block {
        background-color: $footerBlockBgColor;

        .footer-block-element {
            padding: 10px 10px 10px 45px;
            > p {
                padding: 4px 0;
                a {
                    color: #fff;
                    font-weight: lighter;
                    &:hover {
                        color: #fff;
                        opacity: 0.95;
                    }
                }
            }

            &:first-child {
                margin-top: 25px;
            }
            &:last-child {
                margin-bottom: 25px;
            }
        }
    }

    h3 {
        font-family: "ProxmaBlackItalic";
        font-size: 28px;
        color: #fff;
        text-transform: uppercase;
        padding-bottom: 10px;
    }
}